/node_modules
/dist
/output
/projects/
/docs/local/
*.zip
*.log
*.knxproj
credentials.txt
.env
*.crt
*.key
*.p12
*.pfx
!middleware/root_certificate_iotelectric.crt

# Local project and release guide
/UPUTE.html
/R1-13 - eng
/R1-13 - hrv
*.gpa

/R1-13 - with passwords
/R1-13 - with passwords - eng
